<% include ./partials/head.ejs %>

<body class="hold-transition light-skin sidebar-mini theme-success fixed">

  <div class="wrapper">
    <div id="loader"></div>

    <% include ./partials/header.ejs %>

    <% include ./partials/sidebar.ejs %>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <div class="container-full">
        <!-- Main content -->
        <!-- //content nya  -->
        <!-- /.content -->
      </div>
    </div>
    <!-- /.content-wrapper -->
    <% include ./partials/footer.ejs %>

  </div>
  <!-- ./wrapper -->
  <% include ./partials/js.ejs %>

</body>

</html>