<div id="detail-images" class="row col-12">
    <% for(let i = 0; i < detailImages.length; i++) { %>
    <div id="list-detail-images" style="margin: 10px ;">
        <div class="row" style="margin-left: 10px;">
            <h5>Gambar <%= i+1 %> </h5>
            <button id="delete-detail-images" type="button" class="btn btn-danger btn-sm"
                style="margin-left: 20px; margin-bottom: 10px;"
                onclick="deleteDetailImage('<%= detailImages[i].works_id %>', '<%= detailImages[i].detail_id %>')">
                <i class=" fas fa-trash-alt"></i></button>
            </i>
        </div>
        <img src="/images/<%= detailImages[i].images_url %>" alt="" width="270px">
    </div>
    <% } %>
</div>

<script>
    function deleteDetailImage(works, id) {
        $.ajax({
            type: 'get',
            url: `/admin/delete-detail-image/${works}/${id}`,
            dataType: 'html',
            success: function (kirim) {
                $('#detail-images').html(kirim);
            },
            error: function (eror) {
                console.log('eror post :', eror);
            },
        });
    }
</script>